body{
 	overflow-x: hidden;
 }

nav
{
	background: rgba(0,0,0,0.3);
	height: 50px;
	position:fixed;
	width: 100%;
}

.clearfix:after
{
	content:"";
	display: block;
	clear: both;
}

header{
	background: rgba(0,0,0,0.1);
}

ul{
	margin:0;
}

#banner
{
	background: rgba(0,0,0,0.2);
	height: 600px;
}

nav ul
{
	list-style: none;
	margin: 0;
	float: right;
	margin-left: 1420px;
}

nav ul li, nav .logo
{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}

nav ul li a
{
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;
}

nav ul li.logo
{
	padding: 10px;
	float:left;
}


#banner .inner
{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top:60px;
}


#banner .side{
	background:#00cbae;
	position:fixed;
	left:1400px;
	top:0px;
	width:280px;
	height:660px; 
	display: none;
}

#banner .side .x{
	margin-top: 20px;
	color:#FFF;
	margin-left: 240px;
}

#banner .side .grade{
	color:#FFF;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	font-size:15px;
	right:20px;
	padding-bottom: 10px;
	border-bottom:1px solid #31b5a2;
}

#banner .inner h1
{
	margin: 0;
}

button
{
	border: none;
	background: #333;
	color: #eee;
	padding:14px;
}

#banner button{
	padding:14px 60px;
	background: #18a;
	margin-top: 30px;
}

#banner .inner .more
{
	font-size: 25px;
	margin-top:100px;
	color:#FFF;
}

.sub-heading
{
	color:#FFF;
	letter-spacing:2px;
	line-height: 20px;
	margin: 30px 0;
	font-size: 15px;
}

.logo
{
	font-size:20px;
	font-weight: 700;
	letter-spacing: 1px;
}



h1{
	padding:12px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}

h2{
	font-size: 30px;
}

h3{
	font-size: 24px;
}

p{
	font-size: 18px;
	letter-spacing: 1px;
}
.hr{
	height: 2px;
	margin: 20px auto;
}

.wrapper{
	max-width: 1080px;
	margin: 0 auto;
}

.green-section{
	background: #089DB0;
	color:#fff;
	text-align: center;
	padding:100px 0;
}

.green-section .hr{
	background: #078484;
	width: 60%;
}

.icon-group{
	margin-top:20px;
}

.green-section .icon-group .icon{
	display: inline-block;
	width: 50px;
	height: 50px;
	/*background: #0D6F7C;*/
	transform: rotate(40deg);
	margin: 20px;
}

.gray-section{
	background: #252F34;
	color:#fff;
}

.gray-section .img-section{
	width: 45%;
}

.img-section img{
	width: 100%;
}

.gray-section .text-section{
	position: relative;
	width: 55%;
	top:68px;
	left: 50px;
}

.text-section h2{
	margin-bottom: 20px;
}

.text-section p{
	font-size: 18px;
	letter-spacing: 1px;
}

.text-sectoin .sub-heading{
	font-size: 20px;
	margin-top: 0;
}

.text-section > *{
	max-width: 90%;
}



.article-prev > div{
	float:left;
	font-size: 0;
}

.article-prev:nth-child(odd){
	background-color: rgba(255,255,255,0.5);
}

.article-prev:after{
	content:"";
	display: block;
	clear: both;
}

.purple-section{
	padding:80px;
	background: #3F3965;
	color: #FFF;
}

.purple-section .heading-wrapper{
	width:60%;
	margin: 0 auto;
	text-align: center;
}

.purple-section .hr{
	background:#373259; 
	width:60%;
}

.card-group{
	width: 60%;
	margin: 0 auto;
}

.card{
	float:left;
	width: 50%;
	min-height: 300px;
	margin-top:20px;
}

.card:first-child{
	background:rgba(0,0,0,0.04); 
}

.card:nth-child(2){
	background:rgba(0,0,0,0.08); 
}

.card:nth-child(3){
	background:rgba(0,0,0,0.12); 
}

.card:nth-child(4){
	background:rgba(0,0,0,0.16); 
}

.card:nth-child(5){
	background:rgba(0,0,0,0.20); 
}

.card:nth-child(6){
	background:rgba(0,0,0,0.24); 
}

footer{
	background: #333;
	color:#fff;
	min-height: 200px;
	text-align: center;
}

ul.share-group{
	display: block;
	width: 1080px;
	margin:0 auto;
	padding:50px;
}

.share-group li{
	color:#06090a;
	display: inline-block;
	padding:10px;
	width: 30px;
}

.copy{
	padding-bottom:20px;
}

.main-wrapper{
	background: #444 url(../img/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

footer{
	background: #444 url(../img/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.d{
	color:#58bbb9;
	margin-top: 10px;
}

footer .sub-heading{
	color:#06090a;
	font-size: 20px;
}

.contact-form{
	background:#efe2e5;
	position:fixed;
	top:20%;
	left:37%;
	width:500px;
	height:450px; 
	display: none;
}

.contact-form h5{
	font-size: 15px;
	letter-spacing:1px;
    line-height: 1.571428571428571em;
	margin:0 0 18px;
}

.contact-forn .two_columns{
	width: 100%;
}

.column1{
	width:50%;
	float: left;
}

.column2{
	width:50%;
	float: right;
}

.website_field_holder{
	width: 100%;
}
